.foot {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


.fContact {
    text-align: center;
    padding: 10px;
}

.footSub {
    text-align: center;
    padding: 10px;
}
